<!doctype html>
<meta charset="utf-8">
<link
  rel="stylesheet"
  href="{{ '/static/style.css'|url }}"
>
<title>PyconIL 2020</title>

<body>
  <div class="top-bar">
    <a
      class="top-bar-title"
      href="/"
    >
      <span class="show-for-sr">PyCon Israel</span>
    </a>
    <div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/about/">About</a></li>
          {% for href, title in [
            ['/speakers/', 'Speakers'],
            ['/venue/', 'Venue'],
            ['/schedule/', 'Schedule'],
            ]
          %}
          <li
            {% if this.is_child_of(href) %}
            class="active"
            {% endif %}
          >
            <a href="{{ href|url }}">{{ title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <article class="body">
    {% block body %}{% endblock %}
  </article>
  <footer class="footer">
    <p>PyCon Israel</p>
    <div class="footer-links">
      <a
        class="footer-link"
        href="/code-of-conduct"
      >Code of Conduct</a>
      &nbsp;∙&nbsp;
      <a
        class="footer-link"
        href="https://hamakor.org.il/mailman/listinfo/pycon-il-announce"
      >Mailing list</a>
      &nbsp;∙&nbsp;
      <a
        class="footer-link"
        href="info@pycon.org.il"
      >info@pycon.org.il</a>
    </div>
    <div class="social-links">
      <a
        href="https://twitter.com/pyconil"
        class="social-link twitter"
      >Twitter</a>
      <a
        href="https://www.facebook.com/pyconisrael"
        class="social-link facebook"
      >Facebook</a>
      <a
        href="https://www.linkedin.com/company/pycon-israel"
        class="social-link linkedin"
      >Linkedin</a>
      <a
        href="https://www.youtube.com/c/PyConIsrael"
        class="social-link youtube"
      >Youtube</a>
    </div>
  </footer>
</body>