.top-bar {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    transform: none;
    width: 100%;
    z-index: 10;
    background-color: #31343a;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(11, 117, 255);
    transition: color .3s;
}

.show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.top-bar-title {
    height: 50px;
    width: 50px;
    margin-right: 0;
    margin-left: 20px;
    float: left;
    background: url(./logo.svg) 70% 50%/contain no-repeat;
}

.top-bar-right {
    float: right;
}

ul {
    line-height: 1.6;
    list-style-position: outside;
}

.menu > li {
    display: table-cell;
    vertical-align: middle;
}

.menu > li > a {
    font-size: 16px;
    padding: .7rem 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #31343a;
    color: #fff;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    overflow: auto;
    padding-top: 70px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    background-color: #2e2e2c;
    color: #fff;
    font-size: .8em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-links {
    display: inline-block;
    padding-left: 1em;
}

.social-links {
    margin-left: auto;
}

.footer-link {
    color: #fff;
    opacity: .75;
    transition: opacity .3s;
}

.social-link {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: inline-block;
    height: 1.25rem;
    margin-left: .625rem;
    opacity: .75;
    overflow: hidden;
    text-indent: -9999px;
    transition: opacity .3s;
    width: 1.25rem;
}

.twitter {
    background-image: url(./twitter.svg);
}

.facebook{
    background-image: url(./facebook.svg);
}

.linkedin {
    background-image: url(./linkedin.svg);
}

.youtube {
    background-image: url(./youtube.svg);
}